body{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
main{
    
}
.head{
    display:flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif ;
}
.p-header{
    margin-left: 20px;
    margin-right: 5px;
}
.présentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-image:url(illustration-head-line.png);
    background-repeat: no-repeat;
}
.nom{
    text-align: center;
    font-size: 48px;
    color: #172b4d;
    margin-top: 100px;
    margin-bottom: 5px;
}
.métier{
    text-align: center;
    font-size: 48px;
    color: #36b37e;
    margin-top: 10px;
}
.paratexte{
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;
    color: #172b4d;
    margin: 2px;
}
.logo{
    display: flex;
    justify-content: center;
    width: auto;
    height: 40px;
    margin-top: 30px;
    gap: 15px;
    padding-bottom: 400px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto);
    grid-gap: 20px;
}
.grid > article{
    border: 1px solid black;
}
