body{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.head{
    display:flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif ;
}
.p-header{
    margin-left: 20px;
    margin-right: 5px;
}
.présentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-image:url(image/illustration-head-line.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.nom{
    text-align: center;
    font-size: 48px;
    color: #172b4d;
    margin-top: 100px;
    margin-bottom: 5px;
}
.métier{
    text-align: center;
    font-size: 48px;
    color: #36b37e;
    margin-top: 10px;
}
.paratexte{
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;
    color: #172b4d;
    margin: 2px;
}
.logo{
    display: flex;
    justify-content: center;
    width: auto;
    height: 40px;
    margin-top: 30px;
    gap: 15px;
    padding-bottom: 400px;
    color: #505F79;
}
.titre-dx-s{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #172b4d;
}
.grid-container {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 450px 450px 450px;
    padding: 10px;
    gap: 30px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    align-content: flex-end;
    width: 450px;
    height: 450px;
  }
  .image{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .deuxième-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .language-conteneur{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    color: #172b4d;
    font-family: Poppins; 
  }
  .titre-h3{
    font-size: 24px;
    text-align: center;
    color: #172b4d;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .bouton{
    border-radius: 4px;
    padding: 12px;
    background-color: #36b37f;
    color: #ffffff;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
  }